:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  width: 380px;
  height: 510px;
  border: 1px solid var(--black);
  border-radius: 15px;
  box-shadow: 9px 9px 2px var(--black);
}

.ilustration img {
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

.blog-category h3 {
  background-color: var(--yellow);
  width: max-content;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 18px;
  font-weight: 800;
}

.date-published h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 14px;
}

.title h2 {
  margin: 0 13px;
  cursor: pointer;
  font-weight: 800;
}

.title h2:hover {
  color: var(--yellow);
}

.description p {
  margin: 14px;
  color: var(--grey);
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  margin: 25px 15px;
}

.avatar-profile img {
  width: 50px;
}

.name-profile h3 {
  font-size: 16px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  .container {
    width: 350px;
    height: 500px;
  }

  .ilustration img {
    width: 300px;
  }
}
